<h1>Electricity & Magnetism:</h1>
<math>
    <mi>Q</mi><mi>=</mi><mi>N</mi><msup><mi>e</mi><mi>-</mi></msup>
</math>
<div class="where">
    where:
    <div>
        Q is the charge (C)<br>
        N is the number of fundemental charges<br>
        e<sup>-</sup> is the fundimental charge (C)
    </div>
</div>
<math>
    <mi>V</mi><mi>=</mi>
    <mfrac><mrow><mi>E</mi></mrow><mrow><mi>Q</mi></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        V is the voltage (V)<br>
        E is the energy (J)<br>
        Q is the charge (C)
    </div>
</div>
<math>
    <mi>I</mi><mi>=</mi>
    <mfrac><mrow><mi>Q</mi></mrow><mrow><mi>&#916</mi><mi>t</mi></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        I is the current (A)<br>
        Q is the charge (C)<br>
        &#916t is the time elapsed (s)
    </div>
</div>
<math>
    <mi>R</mi><mi>=</mi>
    <mfrac><mrow><mi>V</mi></mrow><mrow><mi>I</mi></mrow></mfrac>
</math>
<math>
    <mi>P</mi><mi>=</mi><mi>V</mi><mi>I</mi><mi>=</mi><msup><mi>I</mi><mi>2</mi></msup><mi>R</mi>
</math>
<div class="where">
    where:
    <div>
        R is the resistance (&#937)<br>
        P is the power (W)<br>
        V is the voltage (V)<br>
        I is the current (A)
    </div>
</div>
<math>
    <msub><mi>R</mi><mi>S</mi></msub><mi>=</mi><msub><mi>R</mi><mi>1</mi></msub><mi>+</mi>
    <msub><mi>R</mi><mi>2</mi></msub><mi>+</mi><mi>.</mi><mi>.</mi><mi>.</mi><mi>+</mi>
    <msub><mi>R</mi><mi>n</mi></msub>
</math>
<math>
    <mfrac><mrow><mi>1</mi></mrow><mrow><msub><mi>R</mi><mi>P</mi></msub></mrow></mfrac><mi>=</mi>
    <mfrac><mrow><mi>1</mi></mrow><mrow><msub><mi>R</mi><mi>1</mi></msub></mrow></mfrac><mi>+</mi>
    <mfrac><mrow><mi>1</mi></mrow><mrow><msub><mi>R</mi><mi>2</mi></msub></mrow></mfrac><mi>+</mi>
    <mi>.</mi><mi>.</mi><mi>.</mi><mi>+</mi>
    <mfrac><mrow><mi>1</mi></mrow><mrow><msub><mi>R</mi><mi>n</mi></msub></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        R<sub>S</sub> is the equivalent resistance of a series circuit (&#937)<br>
        R<sub>P</sub> is the equivalent resistance of a parallel circuit (&#937)<br>
        R<sub>1</sub> is the 1<sup>st</sup> resistance (&#937)<br>
        R<sub>2</sub> is the 2<sup>nd</sup> resistance (&#937)<br>
        R<sub>n</sub> is the n<sup>th</sup> resistance (&#937)
    </div>
</div>
<math>
    <mfrac>
        <mrow><msub><mi>V</mi><mi>2</mi></msub></mrow>
        <mrow><msub><mi>V</mi><mi>1</mi></msub></mrow>
    </mfrac><mi>=</mi>
    <mfrac>
        <mrow><msub><mi>N</mi><mi>2</mi></msub></mrow>
        <mrow><msub><mi>N</mi><mi>1</mi></msub></mrow>
    </mfrac><mi>=</mi>
    <mfrac>
        <mrow><msub><mi>I</mi><mi>1</mi></msub></mrow>
        <mrow><msub><mi>I</mi><mi>2</mi></msub></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        v<sub>1</sub> is the primary voltage (V)<br>
        v<sub>2</sub> is the secondary voltage (V)<br>
        N<sub>1</sub> is the number of primary windings<br>
        N<sub>2</sub> is the number of secondary windings<br>
        I<sub>1</sub> is the primary current (A)<br>
        I<sub>2</sub> is the secondary current (A)
    </div>
</div>
