<h1>Energy:</h1>
<math>
    <mi>W</mi><mi>=</mi><mi>F</mi><mi>&middot</mi><mi>&#916</mi><mi>d</mi>
</math>
<div class="where">
    where:
    <div>
        W is the work (J)<br>
        F is the force (N)<br>
        &#916d is the displacement (m)
    </div>
</div>
<math>
    <mi>P</mi><mi>=</mi>
    <mfrac><mrow><mi>W</mi></mrow><mrow><mi>&#916</mi><mi>t</mi></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        P is the power (W)<br>
        W is the work (J)<br>
        &#916t is the time elapsed (m)
    </div>
</div>
<math>
    <msub><mi>E</mi><msub><mo><mi>T</mi><mi>O</mi><mi>T</mi></mo><mi>1</mi></msub></msub><mi>=</mi>
    <msub><mi>E</mi><msub><mo><mi>T</mi><mi>O</mi><mi>T</mi></mo><mi>2</mi></msub></msub>
</math>
<div class="where">
    where:
    <div>
        E<sub>TOT<sub>1</sub></sub> is the initial energy (J)<br>
        E<sub>TOT<sub>2</sub></sub> is the ending energy (J)
    </div>
</div>
<math>
    <msub><mi>E</mi><mi>g</mi></msub><mi>=</mi>
    <mi>m</mi><mi>g</mi><mi>h</mi>
</math>
<div class="where">
    where:
    <div>
        E<sub>g</sub> is the gravitational energy (J)<br>
        m is the mass (kg)<br>
        g is the acceleration of gravity (m/s<sup>2</sup>)<br>
        h is the height (m)
    </div>
</div>
<math>
    <msub><mi>E</mi><mi>k</mi></msub><mi>=</mi>
    <mfrac><mrow><mi>1</mi></mrow><mrow><mi>2</mi></mrow></mfrac>
    <mi>m</mi><msup><mi>v</mi><mi>2</mi></msup>
</math>
<div class="where">
    where:
    <div>
        E<sub>k</sub> is the kinetic energy (J)<br>
        m is the mass (kg)<br>
        v is the velocity (m/s)
    </div>
</div>
<math>
    <msub><mi>E</mi><mi>M</mi></msub><mi>=</mi>
    <msub><mi>E</mi><mi>g</mi></msub><mi>+</mi><msub><mi>E</mi><mi>k</mi></msub>
</math>
<div class="where">
    where:
    <div>
        E<sub>M</sub> is the mechanical energy (J)<br>
        E<sub>g</sub> is the gravitational energy (J)<br>
        E<sub>k</sub> is the kinetic energy (J)
    </div>
</div>
<math>
    <mi>Q</mi><mi>=</mi><mi>m</mi><mi>c</mi><mi>&#916</mi><mi>T</mi>
</math>
<div class="where">
    where:
    <div>
        Q is the heat (J)<br>
        m is the mass (kg)<br>
        c is the specific heat (J/kg&degC)<br>
        &#916T is the change in temperature (&degC)
    </div>
</div>
<math>
    <msub><mi>Q</mi><mi>g</mi></msub><mi>=</mi>
    <mi>-</mi><msub><mi>Q</mi><mi>l</mi></msub>
</math>
<div class="where">
    where:
    <div>
        Q<sub>g</sub> is the thermal energy gained (J)<br>
        Q<sub>l</sub> is the thermal energy lost (J)
    </div>
</div>
<math>
    <mi>D</mi><mi>.</mi><mi>T</mi><mi>.</mi><mi>=</mi>
    <mfrac>
        <mrow><mi>7</mi><mi>2</mi><mi>%</mi></mrow>
        <mrow><mi>r</mi><mi>a</mi><mi>t</mi><mi>e</mi></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        D.T. is the doubling time (a)<br>
        rate is the rate of change (%/a)
    </div>
</div>