<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>Formulas</title>
</head>
<body>
    <div class="grid-container">
        <div>
            {% include 'kinematics-dynamics.html' %}
        </div>
        <div>
            {% include 'energy.html' %}
        </div>
        <div>
            {% include 'waveforms.html' %}
        </div>
        <div>
            {% include 'electricity-magnetism.html' %}
        </div>
    </div>
    <div class="toggle-where-container">
        <button data-toggle-where>Toggle "Where" Statements</button>
    </div>
</body>
</html>
