<h1>Kinematics & Dynamics</h1>
<math>
    <mi>s</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>=</mi>
    <mfrac>
        <mrow><mi>d</mi></mrow>
        <mrow><mi>&#916</mi><mi>t</mi></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        speed is the speed (m/s)<br>
        d is the distance traveled (m)<br>
        &#916t is the time elapsed (s)
    </div>
</div>
<math>
    <mi>v</mi><mi>=</mi>
    <mfrac>
        <mrow><mi>&#916</mi><mi>d</mi></mrow>
        <mrow><mi>&#916</mi><mi>t</mi></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        v is the velocity (m/s)<br>
        &#916d is the displacement (m)<br>
        &#916t is the time elapsed (s)
    </div>
</div>
<math>
    <msub><mi>v</mi><mi>2</mi></msub><mi>=</mi>
    <msub><mi>v</mi><mi>1</mi></msub><mi>+</mi>
    <mi>a</mi><mi>&#916</mi><mi>t</mi>
</math>
<math>
    <mi>&#916</mi><mi>d</mi><mi>=</mi><mi>(</mi>
    <mfrac>
        <mrow><msub><mi>v</mi><mi>1</mi></msub><mi>+</mi><msub><mi>v</mi><mi>2</mi></msub></mrow>
        <mrow><mi>2</mi></mrow>
    </mfrac>
    <mi>)</mi><mi>&#916</mi><mi>t</mi>
</math>
<math>
    <mi>&#916</mi><mi>d</mi><mi>=</mi>
    <msub><mi>v</mi><mi>1</mi></msub><mi>&#916</mi><mi>t</mi><mi>+</mi>
    <mfrac><mrow><mi>1</mi></mrow><mrow><mi>2</mi></mrow></mfrac>
    <mi>a</mi><mi>&#916</mi><msup><mi>t</mi><mi>2</mi></msup>
</math>
<math>
    <msup><msub><mi>v</mi><mi>2</mi></msub><mi>2</mi></msup><mi>=</mi>
    <msup><msub><mi>v</mi><mi>1</mi></msub><mi>2</mi></msup><mi>+</mi>
    <mi>2</mi><mi>a</mi><mi>&#916</mi><mi>d</mi>
</math>
<div class="where">
    where:
    <div>
        v<sub>1</sub> is the initial velocity (m/s)<br>
        v<sub>2</sub> is the ending velocity (m/s)<br>
        a is the acceleration (m/s<sup>2</sup>)<br>
        &#916d is the displacement (m)<br>
        &#916t is the time elapsed (s)
    </div>
</div>
<math>
    <msub><mi>F</mi><mo><mi>N</mi><mi>E</mi><mi>T</mi></mo></msub>
    <mi>=</mi><mi>m</mi><mi>a</mi>
</math>
<div class="where">
    where:
    <div>
        F<sub>NET</sub> is the net force (N)<br>
        m is the mass (kg)<br>
        a is the acceleration (m/s<sup>2</sup>)
    </div>
</div>
<math>
    <msub><mi>F</mi><mi>f</mi></msub>
    <mi>=</mi><mi>&micro</mi><msub><mi>F</mi><mi>N</mi></msub>
</math>
<div class="where">
    where:
    <div>
        F<sub>f</sub> is the frictional force (N)<br>
        &#181 is the coefficient of friction<br>
        F<sub>N</sub> is the normal force (N)
    </div>
</div>
<math>
    <msub><mi>F</mi><mi>g</mi></msub>
    <mi>=</mi><mi>m</mi><mi>g</mi>
</math>
<div class="where">
    where:
    <div>
        F<sub>g</sub> is the weight (N)<br>
        m is the mass (kg)<br>
        g is the acceleration of gravity (m/s<sup>2</sup>)
    </div>
</div>
<math>
    <msub><mi>F</mi><mi>g</mi></msub><mi>=</mi>
    <mfrac>
        <mrow><mi>G</mi><msub><mi>m</mi><mi>1</mi></msub><msub><mi>m</mi><mi>2</mi></msub></mrow>
        <mrow><msup><mi>d</mi><mi>2</mi></msup></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        F<sub>g</sub> is the weight (N)<br>
        G is the gravitational constant (Nm<sup>2</sup>/s<sup>2</sup>)<br>
        m<sub>1</sub> is the mass of the first body (kg)<br>
        m<sub>2</sub> is the mass of the second body (kg)<br>
        d is the distance between the bodies (m)
    </div>
</div>
<math>
    <mfrac>
        <mrow><msub><mi>F</mi><msub><mi>g</mi><mi>2</mi></msub></msub></mrow>
        <mrow><msub><mi>F</mi><msub><mi>g</mi><mi>1</mi></msub></msub></mrow>
    </mfrac><mi>=</mi>
    <mfrac>
        <mrow><msup><msub><mi>d</mi><mi>1</mi></msub><mi>2</mi></msup></mrow>
        <mrow><msup><msub><mi>d</mi><mi>2</mi></msub><mi>2</mi></msup></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        F<sub>g<sub>1</sub></sub> is the initial weight (N)<br>
        F<sub>g<sub>2</sub></sub> is the ending weight (N)<br>
        d<sub>1</sub> is the initial distance<br>
        d<sub>2</sub> is the ending distance
    </div>
</div>