<h1>Waveforms:</h1>
<math>
    <mi>f</mi><mi>=</mi>
    <mfrac>
        <mrow><mi>c</mi><mi>y</mi><mi>c</mi><mi>l</mi><mi>e</mi><mi>s</mi></mrow>
        <mrow><mi>&#916</mi><mi>t</mi></mrow>
    </mfrac>
    <mi>=</mi><mfrac><mrow><mi>1</mi></mrow><mrow><mi>T</mi></mrow></mfrac>
</math>
<math>
    <mi>T</mi><mi>=</mi>
    <mfrac>
        <mrow><mi>&#916</mi><mi>t</mi></mrow>
        <mrow><mi>c</mi><mi>y</mi><mi>c</mi><mi>l</mi><mi>e</mi><mi>s</mi></mrow>
    </mfrac>
    <mi>=</mi><mfrac><mrow><mi>1</mi></mrow><mrow><mi>f</mi></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        f is the frequency (Hz)<br>
        T is the period (s)<br>
        cycles is the number of cycles<br>
        &#916t is the time elapsed (s)
    </div>
</div>
<math>
    <mi>v</mi><mi>=</mi><mi>f</mi><mi>&#955</mi>
</math>
<div class="where">
    where:
    <div>
        v is the velocity (m/s)<br>
        f is the frequency (Hz)<br>
        &#955 is the wavelength (m)
    </div>
</div>
<math>
    <mi>v</mi><mi>=</mi><mi>(</mi><mi>3</mi><mi>3</mi><mi>2</mi><mi>+</mi>
    <mfrac>
        <mrow><mi>0</mi><mi>.</mi><mi>5</mi><mi>9</mi><mi>0</mi><mi>T</mi></mrow>
        <mrow><mi>&deg</mi><mi>C</mi></mrow>
    </mfrac>
    <mi>)</mi><mfrac><mrow><mi>m</mi></mrow><mrow><mi>s</mi></mrow></mfrac>
</math>
<div class="where">
    where:
    <div>
        v is the speed of sound (m/s)<br>
        T is the tempurature (&degC)
    </div>
</div>
<math>
    <msub><mi>f</mi><mi>2</mi></msub><mi>=</mi><msub><mi>f</mi><mi>1</mi></msub>
    <mi>(</mi><mfrac>
        <mrow><mi>v</mi></mrow>
        <mrow><mi>v</mi><mi>&#177</mi><msub><mi>v</mi><mi>s</mi></msub></mrow>
    </mfrac><mi>)</mi>
</math>
<div class="where">
    where:
    <div>
        f<sub>2</sub> is the frequency heard (Hz)<br>
        f<sub>1</sub> is the frequency emitted (Hz)<br>
        v is the speed of sound (m/s)<br>
        v<sub>s</sub> is the velocity of the source (m/s)
    </div>
</div>
<math>
    <mi>B</mi><mi>.</mi><mi>F</mi><mi>.</mi><mi>=</mi><mi>|</mi>
    <msub><mi>f</mi><mi>2</mi></msub><mi>-</mi><msub><mi>f</mi><mi>1</mi></msub><mi>|</mi>
</math>
<div class="where">
    where:
    <div>
        B.F. is the beat frequency (Hz)<br>
        f<sub>1</sub>  one of the frequencies (Hz)<br>
        f<sub>2</sub> is the other frequency (Hz)
    </div>
</div>
<math>
    <msub><mo><msup><mi>n</mi><mo><mi>t</mi><mi>h</mi></mo></msup><mi>r</mi><mi>.</mi><mi>l</mi><mi>.</mi></mo>
    <mi>C</mi></msub><mi>=</mi>
    <mfrac>
        <mrow><mi>(</mi><mi>2</mi><mi>n</mi><mi>-</mi><mi>1</mi><mi>)</mi><mi>&#955</mi></mrow>
        <mrow><mi>4</mi></mrow>
    </mfrac>
</math>
<math>
    <msub><mo><msup><mi>n</mi><mo><mi>t</mi><mi>h</mi></mo></msup><mi>r</mi><mi>.</mi><mi>l</mi><mi>.</mi></mo>
    <mi>O</mi></msub><mi>=</mi>
    <mfrac>
        <mrow><mi>n</mi><mi>&#955</mi></mrow>
        <mrow><mi>2</mi></mrow>
    </mfrac>
</math>
<div class="where">
    where:
    <div>
        n<sup>th</sup>r.l.<sub>C</sub> is the n<sup>th</sup> resonant length in a closed-ended air colomn (m)<br>
        n<sup>th</sup>r.l.<sub>O</sub> is the n<sup>th</sup> resonant length in a open-ended air colomn (m)<br>
        n is the number of resonant lengths<br>
        &#955 is the wavelength (m)
    </div>
</div>
